################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1DPICMCTutorial/Debug
/1DPICMCTutorial/Release
/1DPICMCTutorial/x64/Release
/1DPICMCTutorial/x64/Debug
